:root{
    --bg: #212D3F; 
    --contrast-color: #fff;
    --text-color: #fff;
    --button-color: #0091BF;
    --link-color: #24C6FB;
    --navbar-bg-color: #28374D;
    --active-menu-bg-color: var(--bg);
    --today-calendar-bg-color: #354863;
    --inactive-calendar-bg-color: #ffffff14;
    --pop-input--bg-color: #415776
}

[data-theme="light"] {
    --bg: #fff; 
    --contrast-color: rgb(37, 37, 37);
    --text-color: rgb(27, 27, 27);
} 