:root{
    --bg: #212D3F; 
    --contrast-color: #fff;
    --text-color: #fff;
    --button-color: #0091BF;
    --link-color: #24C6FB;
    --navbar-bg-color: #28374D;
    --active-menu-bg-color: var(--bg);
    --today-calendar-bg-color: rgb(64 83 106);
    --inactive-calendar-bg-color: #2a394e63;
    --completed-calendar-bg-color: #3a578b57;
    --pop-input--bg-color: #00a1ff0a;
    --day-bg-color:#314156;
    --hover-color-bw: #ffffff14;
    --border-color: #fff;
    --selected-bg-color: rgb(41 67 102);
    --border-selected: 1px solid #00acff4a;
    --selected-menu-color:#0573e45e;

    --color-yellow: #f2d600;


}

[data-theme="light"] {
    --bg: #fff; 
    --contrast-color: rgb(37, 37, 37);
    --text-color: rgb(27, 27, 27);
} 